      <!-- Slider -->
      <div class="slider-container">
         <!-- Controls -->
         <div class="slider-control left inactive"></div>
         <div class="slider-control right"></div>
         <ul class="slider-pagi"></ul>
         <!--Slider -->
         <div class="slider">
            <!-- Slide 0 -->
            <div class="slide slide-0 active" >
               <!-- image -->
               <div class="slide__bg" style="background-image: url(<%= image_path('bolo-slide1.jpg')%>);"></div>
               <!--Title -->
               <div class="slide__content">
                 <div class="slide__text">
                   <div class="hidden-xs hidden-sm hidden-md">
                      <div class="sp-container">
                        <div class="sp-content">
                	         <h2 class="frame-5"><span>Melhores bolos de Brasília</span></h2>
                         </div>
                       </div>
                     </div>
                   </div>
             </div>
               <!--/Slide__text -->
            </div>
            <!-- /Slide -->
            <!-- Slide 1 -->
            <div class="slide slide-1">
               <!-- image -->
               <div class="slide__bg" style="background-image: url(<%= image_path('doce-slide2.jpg')%>);"></div>
               <!--Title -->
               <div class="slide__content">
                 <div class="slide__text">
                   <div class="hidden-xs hidden-sm hidden-md">
                      <div class="sp-container">
                        <div class="sp-content">
                           <h2 class="frame-5"><span>Doces de qualidade</span></h2>
                         </div>
                       </div>
                     </div>
                   </div>
               </div>
               <!--/Slide__text -->
            </div>
            <!-- /Slide -->
            <!-- Slide 2 -->
            <div class="slide slide-2">
               <!-- image -->
               <div class="slide__bg" style="background-image: url(<%= image_path('doce-slide3.jpg')%>);"></div>
               <!--Title -->
               <div class="slide__content">
                 <div class="slide__text">
                   <div class="hidden-xs hidden-sm hidden-md">
                      <div class="sp-container">
                        <div class="sp-content">
                           <h2 class="frame-5"><span>Doces para eventos</span></h2>
                         </div>
                       </div>
                     </div>
                   </div>
             </div>
               <!--/Slide__text -->
           </div>
            <!-- /Slide -->
            <!-- Slide 3 -->
            <div class="slide slide-3">
               <!-- image -->
               <div class="slide__bg" style="background-image: url(<%= image_path('bolo-slide4.jpg')%>);"></div>
               <!--Title -->
               <div class="slide__content">
                 <div class="slide__text">
                   <div class="hidden-xs hidden-sm hidden-md">
                      <div class="sp-container">
                        <div class="sp-content">
                	         <h2 class="frame-5"><span>Melhores bolos caseiros</span></h2>
                         </div>
                       </div>
                     </div>
                   </div>
             </div>
               <!--/Slide__text -->
            </div>
            <!-- /Slide -->
         </div>
         <!-- /Slider -->
      </div>
      <!-- /slider -->

      <!-- Section About -->
      <section id="about" class="color-section2">
         <div class="container">
            <!-- Section Heading -->
            <div class="section-heading">
               <h2>Sobre nós</h2>
               <div class="hr"></div>
            </div>
            <!-- Text -->
               <div>
                  <h3>Baking Delicious cakes since 1990</h3>
                  <p>Placerat a ultricies a, posuere a nibh. Fusce mollis imperdiet interdum donec eget metus auguen unc
                     vel mauris ultricies, vest ibulum orci eget,Ibu lum orci eget, viverra elit. Aliquam erat volut pat phas ellus ac
                     sodales felis tiam non Doloreiur qui commolu ptatemp dolupta orem retibusam
                     andigen Ibu lum orci eget, viverra elit. Aliquam erat volut pat phas ellus ac sodales felis tiam non metus.
                  </p>
                  <p>Placerat a ultricies a, posuere a nibh. Fusce mollis imperdiet interdum donec eget metus auguen unc vel mauris ultricies, vest ibulum orci eget,Fusce mollis imperdiet interdum donec eget metus auguen unc vel lorem ispuet Ibu lum orci eget, viverra elit liquam erat volut pat phas ellus ac sodales Lorem ipsum dolor sit amet, consectetur adipisicing elit uasi quidem minus id omnis.
                  </p>
               </div>
            <!-- /row -->
            <div id="owl-icons" class="owl-carousel features-icon">
               <div class="col-sm-12">
                  <!-- item1 -->
                  <div class="media text-center">
                     <i class="flaticon-electric-mixer"></i>
                     <div class="media-body">
                        <h5>Feitos com amor</h5>
                        <p>Todos os doces são feitos com amor e carinho</p>
                     </div>
                  </div>
               </div>
               <div class="col-sm-12">
                  <!-- item2 -->
                  <div class="media text-center">
                     <i class="flaticon-gingerbread"></i>
                     <div class="media-body">
                        <h5>Preço baixo</h5>
                        <p>Nossos doces são de qualidade e feitos para caber no seu bolso</p>
                     </div>
                  </div>
               </div>
               <div class="col-sm-12">
                  <!-- item3 -->
                  <div class="media text-center">
                     <i class="flaticon-food-5"></i>
                     <div class="media-body">
                        <h5>Feitos para eventos</h5>
                        <p>Nossos doces são para todas as ocasiões</p>
                     </div>
                  </div>
               </div>
               <div class="col-sm-12">
                  <!-- item4 -->
                  <div class="media text-center">
                     <i class="flaticon-wheat"></i>
                     <div class="media-body">
                        <h5>Produtos sem glúten</h5>
                        <p>Nossos doces são feitos para todos</p>
                     </div>
                  </div>
               </div>
               <div class="col-sm-12">
                  <!-- item5 -->
                  <div class="media text-center">
                     <i class="flaticon-food-12"></i>
                     <div class="media-body">
                        <h5>100% Caseiros</h5>
                        <p>Todos nossos bolos e doces são 100% feitos caseiros</p>
                     </div>
                  </div>
               </div>
            </div>
          </div>
          </section>

      <!-- Section testimonials -->
      <section id="testimonials" class="color-section">
         <div class="container">
            <!-- Parallax object -->
            <div class="parallax-object hidden-sm hidden-xs hidden-md"
              data-bottom-top="left:0%;margin-top:-30px;transform:translatey(0%);"
               data-top="transform:translatey(-120%);">
               <!-- Image -->
               <img src="<%= image_path('cake3.png')%>" alt="">
            </div>
            <div class="parallax-object hidden-sm hidden-xs hidden-md"
               data-bottom-top="left:60px;margin-top:120px;transform:translatey(0%);"
               data-top="transform:translatey(-120%);">
               <!-- Image -->
               <img src="<%= image_path('cake1.png')%>" alt="">
            </div>
            <div class="parallax-object hidden-sm hidden-xs hidden-md"
               data-bottom-top="left:220px;margin-top:-70px;transform:translatey(40%);"
               data-top="transform:translatey(-120%);">
               <!-- Image -->
               <img src="<%= image_path('cherry.png')%>" alt="">
            </div>
            <!-- Section Heading -->
            <div class="section-heading">
               <h2>O que nossos clientes dizem</h2>
               <div class="hr"></div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <!-- Carousel -->
                  <div id="owl-testimonial" class="owl-carousel">
                     <!-- Testimonial 1 -->
                     <div class="testimonial">
                        <div class="testimonial-pic">
                           <img src="<%= image_path('testimonial1.jpg')%>" alt="" class="img-circle">
                        </div>
                        <div class="testimonial-content">
                           <p class="description">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed accumsan diam. Suspendisse molestie nibh at tempor mollis. Integer aliquet facilisis felis, ac porta est cursus et. Vestibulum sollicitudin nisl ut urna egestas faucibus.
                           </p>
                           <h3 class="testimonial-title">Lana King</h3>
                           <small class="post">/ TV Star</small>
                        </div>
                     </div>
                     <!-- Testimonial 2 -->
                     <div class="testimonial">
                        <div class="testimonial-pic">
                           <img src="<%= image_path('testimonial2.jpg')%>" alt="" class="img-circle">
                        </div>
                        <div class="testimonial-content">
                           <p class="description">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed accumsan diam. Suspendisse molestie nibh at tempor mollis. Integer aliquet facilisis felis, ac porta est cursus et. Vestibulum sollicitudin nisl ut urna egestas faucibus.
                           </p>
                           <h3 class="testimonial-title">Jonas Smith</h3>
                           <small class="post">/ Chef</small>
                        </div>
                     </div>
                     <!-- Testimonial 3 -->
                     <div class="testimonial">
                        <div class="testimonial-pic">
                           <img src="<%= image_path('testimonial2.jpg')%>" alt="" class="img-circle">
                        </div>
                        <div class="testimonial-content">
                           <p class="description">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed accumsan diam. Suspendisse molestie nibh at tempor mollis. Integer aliquet facilisis felis, ac porta est cursus et. Vestibulum sollicitudin nisl ut urna egestas faucibus.
                           </p>
                           <h3 class="testimonial-title">Maria Silva</h3>
                           <small class="post">/ Cake Specialist</small>
                        </div>
                     </div>
                  </div>
                  <!--/owl-testimonials -->
               </div>
               <!-- /col-md-12-->
            </div>
            <!--/row -->
         </div>
         <!--/container -->
      </section>
	  <!--/section-->

      <!-- Section Gallery -->
      <section id="gallery" class="color-section2">
         <div class="container-fluid">
            <!-- Section heading -->
            <div class="section-heading">
               <h2>Galeria</h2>
               <div class="hr"></div>
            </div>
            <!-- Navigation -->
            <div class="text-center col-md-12">
               <ul class="nav nav-pills cat text-center" role="tablist" id="gallerytab">
                  <li class="active"><a href="#" data-toggle="tab" data-filter="*">Todos</a>
                  <li><a href="#" data-toggle="tab" data-filter=".cakes">Bolos e tortas</a></li>
                  <li><a href="#" data-toggle="tab" data-filter=".sweets">outros doces</a></li>
               </ul>
            </div>
            <!-- Gallery -->
            <div class="row">
               <div class="col-md-12 wow fadeInUp">
                  <div id="lightbox">
                     <!-- Image 1 -->
                     <div class="sweets col-lg-4 col-sm-6 col-md-6">
                        <div class="isotope-item">
                           <div class="gallery-thumb">
                              <img class="img-responsive" src="<%= image_path('gallery1.jpg')%>" alt="">
                              <a href="<%= image_path('gallery1.jpg')%>" data-gal="prettyPhoto[gallery]"  title="You can add caption to pictures.">
                              <span class="overlay-mask"></span>
                              </a>
                           </div>
                        </div>
                     </div>
                     <!-- Image 2 -->
                     <div class="sweets col-lg-4 col-sm-6 col-md-6">
                        <div class="isotope-item">
                           <div class="gallery-thumb">
                              <img class="img-responsive" src="<%= image_path('gallery2.jpg')%>" alt="">
                              <a href="<%= image_path('gallery2.jpg')%>" data-gal="prettyPhoto[gallery]"  title="You can add caption to pictures.">
                              <span class="overlay-mask"></span>
                              </a>
                           </div>
                        </div>
                     </div>
                     <!-- Image 3 -->
                     <div class="cakes col-lg-4 col-sm-6 col-md-6">
                        <div class="isotope-item">
                           <div class="gallery-thumb">
                              <img class="img-responsive" src="<%= image_path('gallery3.jpg')%>" alt="">
                              <a href="<%= image_path('gallery3.jpg')%>" data-gal="prettyPhoto[gallery]"  title="You can add caption to pictures.">
                              <span class="overlay-mask"></span>
                              </a>
                           </div>
                        </div>
                     </div>
                     <!-- Image 4 -->
                     <div class="sweets col-lg-4 col-sm-6 col-md-6">
                        <div class="isotope-item">
                           <div class="gallery-thumb">
                              <img class="img-responsive" src="<%= image_path('gallery4.jpg')%>" alt="">
                              <a href="<%= image_path('gallery4.jpg')%>" data-gal="prettyPhoto[gallery]"  title="You can add caption to pictures.">
                              <span class="overlay-mask"></span>
                              </a>
                           </div>
                        </div>
                     </div>
                     <!-- Image 5 -->
                     <div class="sweets col-lg-4 col-sm-6 col-md-6">
                        <div class="isotope-item">
                           <div class="gallery-thumb">
                              <img class="img-responsive" src="<%= image_path('gallery5.jpg')%>" alt="">
                              <a href="<%= image_path('gallery5.jpg')%>" data-gal="prettyPhoto[gallery]"  title="You can add caption to pictures.">
                              <span class="overlay-mask"></span>
                              </a>
                           </div>
                        </div>
                     </div>
                     <!-- Image 6 -->
                     <div class="cakes col-lg-4 col-sm-6 col-md-6">
                        <div class="isotope-item">
                           <div class="gallery-thumb">
                              <img class="img-responsive" src="<%= image_path('gallery6.jpg')%>" alt="">
                              <a href="<%= image_path('gallery6.jpg')%>" data-gal="prettyPhoto[gallery]"  title="You can add caption to pictures.">
                              <span class="overlay-mask"></span>
                              </a>
                           </div>
                        </div>
                     </div>
                     <!-- Image 7 -->
                     <div class="cakes col-lg-4 col-sm-6 col-md-6">
                        <div class="isotope-item">
                           <div class="gallery-thumb">
                              <img class="img-responsive" src="<%= image_path('gallery7.jpg')%>" alt="">
                              <a href="<%= image_path('gallery7.jpg')%>" data-gal="prettyPhoto[gallery]"  title="You can add caption to pictures.">
                              <span class="overlay-mask"></span>
                              </a>
                           </div>
                        </div>
                     </div>
                     <!-- Image 8 -->
                     <div class="sweets col-lg-4 col-sm-6 col-md-6">
                        <div class="isotope-item">
                           <div class="gallery-thumb">
                              <img class="img-responsive" src="<%= image_path('gallery3.jpg')%>" alt="">
                              <a href="<%= image_path('gallery3.jpg')%>" data-gal="prettyPhoto[gallery]"  title="You can add caption to pictures.">
                              <span class="overlay-mask"></span>
                              </a>
                           </div>
                        </div>
                     </div>
                     <!-- Image 9 -->
                     <div class="cakes col-lg-4 col-sm-6 col-md-6">
                        <div class="isotope-item">
                           <div class="gallery-thumb">
                              <img class="img-responsive" src="<%= image_path('gallery9.jpg')%>" alt="">
                              <a href="<%= image_path('gallery9.jpg')%>" data-gal="prettyPhoto[gallery]"  title="You can add caption to pictures.">
                              <span class="overlay-mask"></span>
                              </a>
                           </div>
                        </div>
                     </div>
                     <!-- Image 10 -->
                     <div class="sweets col-lg-4 col-sm-6 col-md-6">
                        <div class="isotope-item">
                           <div class="gallery-thumb">
                              <img class="img-responsive" src="<%= image_path('gallery10.jpg')%>" alt="">
                              <a href="<%= image_path('gallery10.jpg')%>" data-gal="prettyPhoto[gallery]"  title="You can add caption to pictures.">
                              <span class="overlay-mask"></span>
                              </a>
                           </div>
                        </div>
                     </div>
                     <!-- Image 11 -->
                     <div class="cakes col-lg-4 col-sm-6 col-md-6">
                        <div class="isotope-item">
                           <div class="gallery-thumb">
                              <img class="img-responsive" src="<%= image_path('gallery11.jpg')%>" alt="">
                              <a href="<%= image_path('gallery11.jpg')%>" data-gal="prettyPhoto[gallery]"  title="You can add caption to pictures.">
                              <span class="overlay-mask"></span>
                              </a>
                           </div>
                        </div>
                     </div>
                     <!-- Image 12 -->
                     <div class="sweets col-lg-4 col-sm-6 col-md-6">
                        <div class="isotope-item">
                           <div class="gallery-thumb">
                              <img class="img-responsive" src="<%= image_path('gallery12.jpg')%>" alt="">
                              <a href="<%= image_path('gallery12.jpg')%>" data-gal="prettyPhoto[gallery]"  title="You can add caption to pictures.">
                              <span class="overlay-mask"></span>
                              </a>
                           </div>
                        </div>
                     </div>
                     <!-- Image 13 -->
                     <div class="cakes col-lg-4 col-sm-6 col-md-6">
                        <div class="isotope-item">
                           <div class="gallery-thumb">
                              <img class="img-responsive" src="<%= image_path('gallery13.jpg')%>" alt="">
                              <a href="<%= image_path('gallery13.jpg')%>" data-gal="prettyPhoto[gallery]"  title="You can add caption to pictures.">
                              <span class="overlay-mask"></span>
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- /lightbox-->
               </div>
               <!-- /col-md-12-->
            </div>
            <!-- /row -->
         </div>
         <!-- /container -->
      </section>
      <!-- /section -->

	   <!-- Parallax object -->
		<div class="parallax-object hidden-sm hidden-xs hidden-md"
		 data-100-start="transform:rotate(-0deg); left:3%;margin-top:-100px;"
		   data-center="transform:rotate(-370deg);">
		   <!-- Image -->
		   <img src="<%= image_path('cake2.png')%>" alt="">
		</div>

      <!-- Section Prices -->
      <section id="prices">
         <div class="container">
            <!-- Section Heading -->
            <div class="section-heading">
               <h2>Nossos preços</h2>
               <div class="hr"></div>
            </div>
            <div class="row">
               <!-- Price Table 1 -->
               <div class='package col-md-4 col-sm-12'>
                  <div class='package-name'>
                     <h5>Basic Event</h5>
                  </div>
                  <div class='package-price'>$100</div>
                  <ul>
                     <li>
                        <strong>20</strong>
                        Pastries
                     </li>
                     <li>
                        <strong>2</strong>
                        cakes
                     </li>
                     <li>
                        <strong>30</strong>
                        Cupcakes
                     </li>
                     <li>
                        Perfect for Small Events
                     </li>
                     <li>
                        Serves up to 20 people
                     </li>
                  </ul>
                  <!-- Button -->
                  <div class="page-scroll">
                     <a class="btn" href="#contact">
                        <div class="btn-line"></div>
                        <div class="btn-line btn-line-shift"></div>
                        Contato
                     </a>
                  </div>
               </div>
               <div class='package featured-package col-md-4 col-sm-12 res-margin' style="background-image: url(<%= image_path('pricetable1.png')%>);">
                  <div class='package-name'>
                     <h5>Medium Event</h5>
                  </div>
                  <div class='package-price'>$250</div>
                  <ul>
                     <li>
                        <strong>50</strong>
                        Pastries
                     </li>
                     <li>
                        <strong>6</strong>
                        cakes
                     </li>
                     <li>
                        <strong>70</strong>
                        Cupcakes
                     </li>
                     <li>
                        Perfect for Medium Events
                     </li>
                     <li>
                        Serves up to 50 people
                     </li>
                  </ul>
                  <!-- Button -->
                  <div class="page-scroll">
                     <a class="btn" href="#contact">
                        <div class="btn-line"></div>
                        <div class="btn-line btn-line-shift"></div>
                        Contato
                     </a>
                  </div>
               </div>
               <div class='package col-md-4 col-sm-12 res-margin'>
                  <div class='package-name'>
                     <h5>Mega Event</h5>
                  </div>
                  <div class='package-price'>$550</div>
                  <ul>
                     <li>
                        <strong>100</strong>
                        Pastries
                     </li>
                     <li>
                        <strong>10</strong>
                        cakes
                     </li>
                     <li>
                        <strong>130</strong>
                        Cupcakes
                     </li>
                     <li>
                        Perfect for Large Events
                     </li>
                     <li>
                        Serves up to 100 people
                     </li>
                  </ul>
                  <!-- Button -->
                  <div class="page-scroll">
                     <a class="btn" href="#contact">
                        <div class="btn-line"></div>
                        <div class="btn-line btn-line-shift"></div>
                        Contato
                     </a>
                  </div>
               </div>
            </div>
            <!-- /row -->
         </div>
         <!--/container -->
      </section>
      <!-- / section-->

	 <!-- Parallax object -->
		<div class="parallax-object hidden-sm hidden-xs hidden-md"
		 data-100-start="transform:rotate(-0deg); right:3%;"
		   data-center="transform:rotate(-370deg);">
		   <!-- Image -->
		   <img src="<%= image_path('donut.png')%>" alt="">
		</div>

      <!-- Divider -->
      <div class="slanted-divider"></div>

      <!-- Section Promo -->
      <section id="promo" style="background-image: url(<%= image_path('bgpromo.jpg')%>);">
         <div class="container">
            <div class="col-md-6 col-sm-6 col-centered well text-center">
               <h4>Reserve seus bolos e doces hoje!</h4>
               <p>Entre em contato conosco e reserve doces e bolos caseiros de qualidade profissional!</p>
               <!-- Button -->
               <div class="page-scroll">
                  <a class="btn " href="#contact">
                     <div class="btn-line"></div>
                     <div class="btn-line btn-line-shift"></div>
                     Contato
                  </a>
               </div>
            </div>
            <!-- /col-md-6 -->
         </div>
         <!-- /.container -->
      </section>
      <!-- / section-->

      <!-- Divider -->
      <div class="slanted-divider"></div>

      <!-- Section Contact -->
      <section id="contact">
         <div class="container">
            <div>
               <!-- Section heading -->
               <div class="section-heading">
                  <h2>Contato</h2>
                  <div class="hr"></div>
               </div>
            </div>
            <!-- Contact Form -->
            <div class="row">
               <div class="text-center">
                  <h4>Entre em contato conosco!</h4>
                  <p>Encomende hoje seus doces e bolos! Basta preencher esse formulário abaixo ou entrar em contato diretamente comigo.</p>
                  <ul class="contact-info">
                     <li><i class="fa fa-map-marker"></i>Johnny Doces</li>
                     <li><i class="fa fa-phone"></i>+55(61)9632-0582</li>
                     <li><i class="fa fa-envelope"></i><a href="mailto:johnnydoces@hotmail.com">johnnydoces@hotmail.com</a> </li>
                  </ul>
                  <div class="form-style" id="contact_form">
                     <!-- Contact results -->
                     <div id="contact_results"></div>
                     <!-- Form Starts -->
                     <div class="form-group">

                        <input type="text" name="name" class="form-control input-field" placeholder="Nome" required="">
                        <input type="email" name="email" class="form-control input-field" placeholder="Email" required="">
                        <input type="text" name="subject" class="form-control input-field" placeholder="Assunto">
                        <textarea name="message" id="message" class="textarea-field form-control" rows="4" placeholder="Mensagem" required=""></textarea>
                        <!-- Button -->
                        <a class="btn" href="#contact" id="submit_btn">
                           <div class="btn-line"></div>
                           <div class="btn-line btn-line-shift"></div>
                           Enviar pedido
                        </a>
                     </div>
                  </div>
                  <!--/Contact_form -->
               </div>
               <!-- / col-lg-7-->
            </div>
            <!--/row -->
         </div>
         <!-- /container-->
      </section>
      <!-- / section-->
